@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: mediumpurple;
    font-family: "Poppins", sans-serif;

}

.container {
    width: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

p{
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    background-color: mediumpurple;
    box-shadow: rgba(147, 112, 216, 0.644) 3px 3px 0;
    transition: transform 200ms, box-shadow 200ms;
    color: white;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}

button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: #094c66 0 0 0;
}